nav {
  background: #00CC81;
  border-radius: 15px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.ham {
  display: none;
  width: 50px;
  height: 50px;
}
.ul {
  display: flex;
  list-style-type: none;
}
a {
  color: #2D6CA7;
  text-decoration: none;
  font-family: 'Caveat Brush', cursive;
font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 17px;
transition: 0.3s ease-in-out;

}
nav span {
  color: rgba(0, 0, 0, 0.144);
  text-decoration: line-through;
  cursor: no-drop;
}
.ul li {
  padding: 15px;

}

ul li a:hover {
color: white;
letter-spacing: 1px;
}

@media (max-width: 900px) {
  nav{
    background: #00CC81;
    border-radius: 15px;
    width: 100%;
    height: 70px;
  }
 #logo{
  position: absolute;
  left: 20px;
  top: 15px;
 }
 .ham{
  right: 20px;
  top: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
 }
.line {
  position: relative;
  width: 40px;
  height: 3px;
  transition: 0.3s;
 }
 .line:nth-child(1) {
 
  background-color: #3F457C;
  width: 40px;
  height: 4px;
 }
 .line:nth-child(2) {

  background-color: #3F457C;
  width: 40px;
  height: 4px;
 }
 span:nth-child(3) {
 
  background-color:#3F457C ;
  width: 40px;
  height: 4px;
 }
 .ul {
  display: none;
  
 }
 .openclose{
  text-align: center;
  width: 1250px;
  display: flex;
  background: #00CC81;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

flex-direction: column;
margin: auto;
margin-top: 4rem;
}
}
.lines span:nth-child(1) {
    transform:translateY(12px) rotate(50deg);
    background-color: #3F457C;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 10px;
   }
   .lines span:nth-child(2) {
    opacity: 0;
    background-color: #3F457C;

    width: 40px;
    height: 3px;
   }
   .lines span:nth-child(3) {
    transform:translateY(-13px) rotate(-50deg);
    background-color: #ff0000;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 10px;
   }
   .styleNav{
    color: #ffffff;
   }
   button:hover{
    transform: rotate(20deg);
    transform: scale(1.2);
    transition: 0.3s;
  }
/* above nav finshed {DO NOT TUCH}26.02.23 */
/* section 1 */
.s1{
  
  text-align: center;
  margin-top: 10rem;
  }
  .s1 h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
  }
  .s1 h1 span {
    color: #444FAF;
    font-size: 36px;
  }
  .s1 h1 span:nth-child(1) {
    color:#00CC81;
  }
  .edit {
    margin-top: 5rem;
    font-family: 'Caveat Brush', cursive;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
  }
  .edit p {
    margin: auto;
    width: 452px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }
.s1 button {
  margin-top: 5rem;
  width: 148px;
  height: 43px;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
  background: #444FAF;
  border-radius: 20px;
  border: none;
  font-family: 'Caveat Brush', cursive;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
}
 #line {
width: 70%;
height: 1px;
left: 157px;
top: 769px;
margin:auto;
margin-top: 20rem;
background-color: #00CC81;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
/* section 2 */
.s2{
  font-family: 'Caveat Brush', cursive;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  margin-top: 10rem;
  }
  .s2 h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px; 
    color: #444FAF;
  }
  .s2 h1  {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;    
    color: #444FAF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .s2 h1 span:nth-child(1) {
    color:#00CC81;
  }

  .edit {
    margin-top: 5rem;
    font-family: 'Caveat Brush', cursive;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    padding: 5rem;
  }

  .edit img {
    width: 400px;
    height: 350px;
  }
  .edit p {
    margin: auto;
    width: 531px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }
  #line2 {
    width: 70%;
    height: 1px;
    left: 157px;
    top: 769px;
    margin:auto;
    margin-top: 10rem;
    background-color: #444FAF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     }
     @media (max-width: 900px) {
      .edit{
       display: flex;
       text-align: center;
       flex-direction: column;
     }
     .edit:nth-child(3){
       flex-direction: column-reverse;
     }
     .edit p {
       width: 70%;
     }
     .edit img {
      width: 300px;
      height: 250px;
     }
     }
 
  /* section 3 */
.s3 {
  font-family: 'Caveat Brush', cursive;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
.s3 h3 {
  color: #444FAF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
}
.s3 span {
  color: #00CC81;
}
.s3 p {
  width: 620px;
  margin: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.grid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #444FAF;  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.grid img {
  width: 100px;
height: 100px;
}
.grid p {
  width: 284px;
}
.flex {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #444FAF;  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.flex img {
  width: 100px;
height: 84.15px;
}
.flex p {
  width: 284px;
}
@media (max-width: 900px) {
  .s3 p {
    width: 70%;
  }
  .grid{
 grid-template-columns: 1fr;
 }
 .flex {
   flex-direction: column;
 }
  .grid img{
  margin-top: 5rem;
  }
  .flex img{
    margin-top: 5rem;
     }
 }
/* section 4 */
.s4 {
  font-family: 'Caveat Brush', cursive;
  font-family: 'Ubuntu', sans-serif;
}
li{
  list-style: none;
}
.decor {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}
.decor li {
  
  padding: 12px 0rem;
  border-bottom: 1px solid #00CC81;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #444FAF;
}
.s4 h3 {
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #444FAF;
text-align: left;
}
.decor h3 span {
  color: #00CC81;
}
.decor p {
  width: 384px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.decor p span {
  color: #000000;
  font-weight: 400;
}
.decor1 {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}
.decor1 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #444FAF;
}
.decor1 p {
  width: 384px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #000000;

}
@media (max-width: 1220px) {
  .ff p{
width: 70%; 
  }
}
@media (max-width: 900px) {
  .ff {
  
flex-direction: column;
  }

  .decor{
    flex-direction: column;
    text-align: center;
  }
  .decor h3{
    text-align: center;
  }
  .decor1{
    flex-direction: column;
    text-align: center;
  }
  .decor1 h3 {
    text-align: center;
  }
}
.decor1 p span {
  color: #000000;
  font-weight: 400;
}
.ff {
  display: flex;
 justify-content: space-evenly;
 align-items: center;
}




















/* Footer*/
footer {
  margin-top:  10rem;
  border-top: 2px solid #3F457C;
  font-family: 'Caveat Brush', cursive;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer li {
  list-style: none;
}
footer ul #p1{
  width: 60%;
  font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 17px;
}
footer p {
  font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 17px;
}
#rights {
  margin-top: 5rem;
  text-align: center;
}

@media (max-width: 900px) {
  footer{
 flex-direction: column;
 text-align: center;
 
  }
  footer ul #p1{
    width: 60%;
    margin: auto;
  }
}